
<%= stylesheet_link_tag "styles" %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!DOCTYPE html>
<html>
<head>
  <title>RailsMarioProducts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#index" class="w3-bar-item w3-button"><b>MI</b> Mario Foods </a>
      <% if current_user %>
      <p class="w3-bar-item w3-button">
        <%= current_user.email %> | <%= link_to "Sign out", '/signout' %> </p>
        <% else %>
        <p class="w3-bar-item w3-button"> <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %> </p>
        <% end %>
      </div>
    </div>

    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <%= image_tag("fruit.jpeg", :alt => "food", :class => "image") %>
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>MI</b></span> <span class="w3-hide-small w3-text-light-grey">Mario Foods</span></h1>
      </div>
    </header>
    <div id='flash'>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div> <br>
    <div class="w3-content w3-padding" style="max-width:1564px">
      <%= yield %>
    </div>
  </body>
  </html>
